@model IEnumerable<OneNETDataReceiver.ViewModel.UserDeviceHistory>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<table class="ui celled selectable right aligned table" style="width: 100%;">
    <tr>
        <th style="text-align:center;">
            负责人
        </th>
        <th style="text-align:center;">
            设备名称
        </th>
        <th style="text-align:center;">
            设备序列号
        </th>
        <th style="text-align:center;">
            设备状态（1为开启状态）
        </th>
        <th style="text-align:center;">
            数据上传时间
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)

    {

        <tr>
            <td style="text-align:center;">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="text-align:center;">
                @Html.DisplayFor(modelItem => item.DeviceName)
            </td>
            <td style="text-align:center;">
                @Html.DisplayFor(modelItem => item.SN)
            </td>
            <td style="text-align:center;">
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td style="text-align:center;">
                @Html.DisplayFor(modelItem => item.ReportTime)
            </td>
        </tr>
    }
</table>
