@model OneNETDataReceiver.Model.UserInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage3.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UserInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisterTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Permission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sys_Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sys_Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
