
@model IEnumerable<OneNETDataReceiver.ViewModel.UserRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
    <table class="ui celled selectable right aligned table" style="width: 100%;">
        <tr>
            <th style="text-align:center;">

                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.userComapny)
            </th>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.userRole)
            </th>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.userSN)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)

        {
            <tr>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.userName)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.userComapny)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.userRole)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.userSN)
                </td>
                <td>
                    <div class="ui stackable equal width grid">
                        <div class="column">
                            <button class="teal ui button">
                                @Html.ActionLink("修改密码", "Edit", new { id = item.ID })
                            </button>
                        </div>
                    </div>
                </td>
            </tr>



        }

    </table>